

h1,h2{
  font-family: 'Playfair Display', serif;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
}

.navbar-default{
  background:#fff;
  border:0;
  font-family: 'Montserrat', sans-serif;
}


#home h1{
  font-size:100px;
  margin-bottom:20px;
}

#home img{
  width:100%;
  margin-bottom:20px;
}

#home .home-right{
  margin-left:70px;

}

#work .work-right{
  margin-top:70px;
  margin-left:120px;
}

#article .article-right{
  margin-top:60px;
}


#about .about-right{
  margin-top:70px;
  margin-left:150px;
}



#contact{
  background:#b8dfd8;
  padding:40px;
  color:#fff;
}

footer{
  padding:70px;
}

